<a href="https://colab.research.google.com/github/MarcSan18/analise_dados_python_alura/blob/main/Analise_dados_python_alura.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

In [7]:
df.head(10)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M
5,2025.0,EN,FT,Data Engineer,80000,USD,80000,US,0,US,M
6,2025.0,SE,FT,Data Scientist,185000,USD,185000,US,0,US,M
7,2025.0,SE,FT,Data Scientist,148000,USD,148000,US,0,US,M
8,2025.0,MI,FT,Data Scientist,135000,USD,135000,CA,0,CA,M
9,2025.0,MI,FT,Data Scientist,108000,USD,108000,CA,0,CA,M

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [11]:
df.describe()

           work_year        salary  salary_in_usd   remote_ratio
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [12]:
df.shape

(133349, 11)

In [14]:
linhas,colunas = df.shape[0], df.shape[1]
print("linhas:",linhas)
print("colunas:",colunas)

linhas: 133349
colunas: 11

In [44]:
df.columns

Index(['ano', 'senioridade', 'contrato', 'cargo', 'salario', 'moeda', 'usd',
       'residencia', 'remoto', 'localizacao', 'tamanho_empresa'],
      dtype='object')

In [45]:
df.columns = ['ano', 'senioridade', 'contrato', 'cargo',
              'salario', 'moeda', 'usd', 'residencia',
              'remoto', 'localizacao', 'tamanho_empresa']
display(df.head())

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,localizacao,tamanho_empresa
0,2025.0,Sênior,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,Sênior,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,Pleno,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,Pleno,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,Júnior,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [42]:
df["senioridade"].value_counts()

senioridade
Sênior       77241
Pleno        40465
Júnior       12443
Executivo     3200
Name: count, dtype: int64

In [32]:
df["contrato"].value_counts()

contrato
FT    132563
CT       394
PT       376
FL        16
Name: count, dtype: int64

In [33]:
df["remoto"].value_counts()

remoto
0      105312
100     27718
50        319
Name: count, dtype: int64

In [34]:
df["tamanho_empresa"].value_counts()

tamanho_empresa
M    129561
L      3574
S       214
Name: count, dtype: int64

In [49]:
df['nivel_experiencia'] = df['nivel_experiencia'].replace({
    'SE': 'Sênior',
    'MI': 'Pleno',
    'EN': 'Júnior',
    'EX': 'Executivo'
})

display(df['nivel_experiencia'].value_counts())

senioridade
Sênior       77241
Pleno        40465
Júnior       12443
Executivo     3200
Name: count, dtype: int64

In [50]:
df['contrato'] = df['contrato'].replace({
    'FT': 'Tempo Integral',
    'CT': 'Contrato',
    'PT': 'Tempo Parcial',
    'FL': 'Freelancer'
})

display(df['contrato'].value_counts())

contrato
Tempo Integral    132563
Contrato             394
Tempo Parcial        376
Freelancer            16
Name: count, dtype: int64

In [51]:
df['tamanho_empresa'] = df['tamanho_empresa'].replace({
    'S': 'Pequena',
    'M': 'Média',
    'L': 'Grande'
})

display(df['tamanho_empresa'].value_counts())

tamanho_empresa
Média      129561
Grande       3574
Pequena       214
Name: count, dtype: int64

In [52]:
df['remoto'] = df['remoto'].replace({
    0: 'Presencial',
    50: 'Híbrido',
    100: 'Remoto'
})

display(df['remoto'].value_counts())

remoto
Presencial    105312
Remoto         27718
Híbrido          319
Name: count, dtype: int64

In [53]:
df.head()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,localizacao,tamanho_empresa
0,2025.0,Sênior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,Média
1,2025.0,Sênior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,Média
2,2025.0,Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Média
3,2025.0,Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Média
4,2025.0,Júnior,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Média

In [54]:
df.describe(include='object')

,senioridade,contrato,cargo,moeda,residencia,remoto,localizacao,tamanho_empresa
count,133349,133349,133349,133349,133349,133349,133349,133349
unique,4,4,390,26,102,3,95,3
top,Sênior,Tempo Integral,Data Scientist,USD,US,Presencial,US,Média
freq,77241,132563,17314,126140,119579,105312,119641,129561

# Análise de Salários em Cargos de Dados

Este projeto realiza uma análise exploratória de um dataset contendo informações sobre salários em diversas áreas de dados. O objetivo é entender as tendências de salários, os fatores que os influenciam (como nível de experiência, tipo de emprego, localização, etc.) e fornecer insights sobre o mercado de trabalho em dados.

## Dados

O dataset utilizado neste projeto é o `salaries.csv`, obtido do repositório [https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv](https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv). Ele contém as seguintes colunas:

- `ano_trabalho`: Ano em que o trabalho foi realizado.
- `nivel_experiencia`: Nível de experiência do profissional (Júnior, Pleno, Sênior, Executivo).
- `tipo_emprego`: Tipo de contrato de trabalho (Tempo Integral, Contrato, Tempo Parcial, Freelancer).
- `cargo`: Cargo do profissional.
- `salario`: Salário na moeda local.
- `moeda_salario`: Moeda do salário.
- `salario_em_usd`: Salário convertido para dólares americanos (USD).
- `residencia_empregado`: País de residência do empregado.
- `taxa_remoto`: Percentual de trabalho remoto (0, 50, 100).
- `localizacao_empresa`: País da sede da empresa.
- `tamanho_empresa`: Tamanho da empresa (Pequena, Média, Grande).

## Análise Realizada

Até o momento, as seguintes etapas foram realizadas neste notebook:

1.  **Carregamento dos Dados**: O dataset foi carregado em um DataFrame pandas.
2.  **Exploração Inicial**: Foram verificadas as primeiras linhas do DataFrame (`df.head()`), informações gerais (`df.info()`), estatísticas descritivas (`df.describe()`) e as dimensões do dataset (`df.shape`).
3.  **Tradução de Colunas**: Os nomes das colunas foram traduzidos para português brasileiro.
4.  **Tradução de Categorias**: As categorias das colunas `senioridade`, `contrato`, `tamanho_empresa` e `remoto` foram traduzidas para português.
5. **Verificação de Valores**: A distribuição dos valores em algumas colunas categóricas foi verificada (`.value_counts()`).

## Próximos Passos

Algumas sugestões para continuar a análise incluem:

*   Analisar a distribuição dos salários (`salario_em_usd`) por diferentes categorias (nível de experiência, tipo de emprego, localização, etc.).
*   Visualizar as principais descobertas utilizando gráficos (histogramas, box plots, gráficos de barras, etc.).
*   Investigar a relação entre a taxa de trabalho remoto e o salário.
*   Analisar a evolução dos salários ao longo dos anos.
*   Explorar os cargos mais comuns e seus respectivos salários.

Este README será atualizado conforme a análise progredir.

# Análise Exploratória de Salários em Cargos de Dados